
<!DOCTYPE html><html lang="en" ng-app="myApp">
<head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Form with Validation</title><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
</head><body ng-controller="formController" class="container mt-4">
    <script>
        angular.module('myApp', [])
        .controller('formController', ['$scope', function($scope) {
            $scope.user = {};
            $scope.isSubmitted = false;


            $scope.submitForm = function() {
                if ($scope.registrationForm.$valid)
                    $scope.isSubmitted = true;
                else 
                    alert('Please fill out the form correctly.');
            };
            $scope.checkPasswordMatch = function() {
             
$scope.registrationForm.confirmPassword.$setValidity("match", $scope.user.confirmPassword === $scope.user.password);
            };}]);
    </script>


    <div class="card p-4" ng-show="!isSubmitted">
        <h2 class="text-center">Registration Form</h2>
        <form name="registrationForm" ng-submit="submitForm()" novalidate>
           
            <div class="mb-3" ng-repeat="field in [
                {label:'Name', model:'name', type:'text', pattern:'', required:true},
                {label:'Enrollment Number', model:'enroll', type:'text', pattern:'^[0-9]{12}$', required:true},
                {label:'Email', model:'email', type:'email', pattern:'', required:true},
                {label:'Mobile', model:'mobile', type:'tel', pattern:'^[0-9]{10}$', required:true}
            ]">
                <label class="form-label">{{ field.label }}:</label>
                <input class="form-control" type="{{ field.type }}" ng-model="user[field.model]"
                    name="{{ field.model }}" ng-pattern="field.pattern" ng-required="field.required">
                <div class="text-danger" ng-show="registrationForm[field.model].$touched && registrationForm[field.model].$invalid">
                    {{ field.label }} is invalid or required.
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label">Password:</label>
                <input class="form-control" type="password" ng-model="user.password" name="password" ng-required="true">
                <div class="text-danger" ng-show="registrationForm.password.$touched && registrationForm.password.$invalid">
                    Password is required.
                </div> </div>


            <div class="mb-3">
                <label class="form-label">Confirm Password:</label>
                <input class="form-control" type="password" ng-model="user.confirmPassword" name="confirmPassword" ng-required="true" ng-change="checkPasswordMatch()"><div class="text-danger" ng-show="registrationForm.confirmPassword.$touched && user.confirmPassword !== user.password"> Passwords do not match.</div> </div>
            <div class="mb-3">
                <label class="form-label">Gender:</label>
                <div class="form-check form-check-inline" ng-repeat="g in ['Male', 'Female']">
                    <input class="form-check-input" type="radio" ng-model="user.gender" name="gender" value="{{g}}" required>
                    <label class="form-check-label">{{ g }}</label>
                </div>
                <div class="text-danger" ng-show="registrationForm.gender.$touched && registrationForm.gender.$invalid">
                    Gender is required.
                </div></div>
            <div class="mb-3">
                <label class="form-label">Department:</label>
                <select class="form-select" ng-model="user.department" name="department" required>
                    <option value="">Select Department</option>
                    <option ng-repeat="dept in ['Computer Science', 'Electrical Engineering', 'Mechanical Engineering', 'IT']" value="{{dept}}">{{dept}}</option>
                </select>
                <div class="text-danger" ng-show="registrationForm.department.$touched && registrationForm.department.$invalid">
                    Department is required.
                </div>
            </div>


            <div class="mb-3">
                <label class="form-label">Semester:</label>
                <select class="form-select" ng-model="user.semester" name="semester" required>
                    <option value="">Select Semester</option>
                    <option ng-repeat="sem in [1,2,3,4,5,6,7,8]" value="{{sem}}">{{sem}}th Semester</option>
                </select>
                <div class="text-danger" ng-show="registrationForm.semester.$touched && registrationForm.semester.$invalid">
                    Semester is required.
                </div>
            </div>
           
            <button type="submit" class="btn btn-success w-100" ng-disabled="registrationForm.$invalid">Submit</button>
        </form>
    </div>
    <div class="card p-4 mt-4" ng-show="isSubmitted">
        <h3 class="text-center">Form Submission Output</h3>
        <div class="mb-2" ng-repeat="(key, value) in user">
            <strong>{{ key | uppercase }}:</strong> {{ value }}
        </div>
    </div>


</body>
</html>
